@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #000000;
    --background-start: #d6dbdc;
    --background-end: #ffffff;
  }

  body {
    @apply text-[rgb(var(--foreground))];
    background: linear-gradient(to bottom, transparent, var(--background-end))
      var(--background-start) no-repeat;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: #ffffff;
      --background-start: #000000;
      --background-end: #000000;
    }
  }
}
