@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root:not(:has(body > main.bg-fancy)) * {
    @apply scrollbar;
  }

  /* :root:has(body > main.bg-fancy) {
    @apply scrollbar scrollbar-mac;
  } */

  body {
    @apply scroll-smooth antialiased dark:bg-zinc-900 dark:text-zinc-200;
  }

  body:has(main):has(.bg-fancy) {
    @apply bg-[#d6dbdc] bg-gradient-to-b from-transparent to-white bg-no-repeat dark:bg-zinc-900 dark:bg-none;
  }

  h1 {
    @apply text-xl font-bold sm:text-2xl;
  }

  h2 {
    @apply text-lg font-semibold sm:text-xl;
  }
}

@layer components {
  .button-base {
    @apply block gap-2 rounded-md border px-3.5 py-2.5 text-sm font-semibold shadow-sm
      transition-colors focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
      focus-visible:outline-zinc-900 dark:focus-visible:outline-zinc-400;
  }

  .button-base:has(:only-child) {
    /* display: flex; if button-base has more than 1 child */
    @apply flex;
  }

  .button {
    @apply button-base flex-center border-zinc-900 bg-zinc-900 text-white
      hover:bg-transparent hover:text-zinc-900 focus-visible:hover:border-transparent
      dark:border-transparent dark:bg-zinc-300 dark:text-black hover:dark:bg-zinc-100;
  }

  .button-secondary {
    @apply button-base border-zinc-200 bg-transparent text-inherit hover:border-zinc-900 
      dark:border-zinc-600 dark:hover:border-zinc-200;
  }

  .card-fancy {
    @apply dark:bg-transparent dark:shadow-[inset_0_0_6px_#ffffff1a];
  }

  .glass {
    @apply bg-transparent backdrop-blur-sm dark:border-slate-50/[0.06] dark:bg-transparent;
  }
}

@layer utilities {
  .bg-reverse {
    @apply bg-zinc-900 text-zinc-200 dark:bg-zinc-100 dark:text-zinc-900;
  }

  .scrollbar::-webkit-scrollbar {
    width: 16px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 16px;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  .scrollbar-mac::-webkit-scrollbar-thumb {
    background-color: #babac0;
  }
}
