@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root:not(:has(body > main.bg-fancy)) * {
    @apply scrollbar;
  }

  html {
    /* 
      this scroll behavior should be set as important for now,
      related to this issue https://github.com/vercel/next.js/issues/44295 
      and PR https://github.com/vercel/next.js/pull/46995
    */
    @apply scroll-pt-16 !scroll-smooth;
  }

  /* :root:has(body > main.bg-fancy) {
    @apply scrollbar scrollbar-mac;
  } */

  body {
    @apply bg-default;
  }

  body:has(main):has(.bg-fancy) {
    @apply bg-theme;
  }

  body:has(main):has(.bg-fancy) nav.glass {
    @apply bg-transparent;
  }

  body:has(.prevent-body-scroll) {
    @apply !overflow-hidden overscroll-contain;
  }

  h1 {
    @apply text-xl font-bold sm:text-2xl;
  }

  h2 {
    @apply text-lg font-semibold sm:text-xl;
  }

  h3 {
    @apply font-semibold sm:text-lg;
  }

  a {
    @apply transition-colors hover:text-blue-400;
  }
}

@layer components {
  .button-base {
    @apply inline-flex items-center gap-2 rounded-md border px-3.5 py-2.5 align-top text-sm font-semibold leading-normal 
      shadow-sm transition-colors focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
      focus-visible:outline-zinc-900 dark:focus-visible:outline-zinc-400;
  }

  .button-base:disabled {
    @apply pointer-events-none cursor-not-allowed opacity-50;
  }

  .button-base:not(:has(> :only-child)) {
    /* apply styles to .button-base that has more than 1 child */
    @apply h-11;
  }

  .button {
    @apply button-base border-zinc-900 bg-zinc-900 text-white
      hover:bg-transparent hover:text-zinc-900 focus-visible:hover:border-transparent
      dark:border-transparent dark:bg-zinc-300 dark:text-black hover:dark:bg-zinc-100;
  }

  .button-secondary {
    @apply button-base border-zinc-200 bg-transparent text-inherit hover:border-zinc-900 hover:text-inherit 
      dark:border-zinc-600 dark:hover:border-zinc-200;
  }

  .button-icon {
    @apply button-base !h-fit;
  }

  .card {
    @apply rounded-lg border border-solid border-zinc-200 transition-shadow hover:shadow-md dark:border-zinc-700;
  }

  .card-fancy {
    @apply dark:bg-transparent dark:shadow-[inset_0_0_6px_#ffffff1a];
  }

  .glass {
    @apply bg-zinc-50/40 backdrop-blur-sm transition-all dark:border-slate-50/[0.06] dark:bg-transparent sm:bg-transparent;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-rose-500 to-violet-500 bg-clip-text text-transparent;
  }
}

@layer utilities {
  .ring-reverse {
    @apply ring-1 ring-zinc-700 dark:ring-zinc-100;
  }

  .ring-theme {
    @apply ring-1 ring-zinc-100 dark:ring-zinc-700;
  }

  .bg-default {
    @apply bg-zinc-50 text-black antialiased dark:bg-zinc-900 dark:text-zinc-200;
  }

  .bg-reverse {
    @apply bg-zinc-900 text-zinc-200 dark:bg-zinc-100 dark:text-zinc-900;
  }

  .bg-theme {
    @apply bg-[#d6dbdc] bg-gradient-to-b from-transparent to-white bg-no-repeat dark:bg-zinc-900 dark:bg-none;
  }

  .shadow-theme {
    @apply shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 dark:shadow-slate-400/10 dark:ring-gray-400/5;
  }

  .scrollbar::-webkit-scrollbar {
    width: 16px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 16px;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  .scrollbar-mac::-webkit-scrollbar-thumb {
    background-color: #babac0;
  }
}
